{# header #}
{% include "head.twig" %}
<div class="partigauche">
        <div class="titre">
            <h2>{{faker.companyname}}</h2>
            <h4>{{faker.phrase}}</h4>
            <h4>At {{faker.companyname}}, we create {{faker.produitAdj}}
            <br>{{faker.produitname}} made of {{faker.produitmatos}}</h4>
            <h4>Find out more on {{faker.url}}</h4>      
        </div>
        
        <div class="carte">
            <img src="{{faker.squareimage}}" alt="product image">
            <h4>{{faker.produitname}}</h4>
            <p>Material : {{faker.produitmatos}}</p>
            <style>.textcolor { background-color : {{faker.color}}; width:20vw;}
            </style> {#! ouais c'est moche mais ça marche !! #}
            <p class="textcolor">Color : {{faker.color}}</p>
            <h4>{{faker.price}} $ only !</h4>
            <p class="tmm">Take my money</p>
        </div>
</div>

<div class="userinfo">
        <img class="roundimage" src="{{faker.roundimage}}" alt="user image">
        <h4>{{faker.username1}}</h4>
        <h4>{{faker.username2}}</h4>
        <h4>{{faker.job}}</h4>
        <h4>Contact info</h4>
        <p>{{faker.email}}</p>
        <p>{{faker.phone}}</p>
        <br>
        <p>{{faker.numrue}} {{faker.rue}}</p>
        <p>{{faker.codepostal}} {{faker.ville}}</p>
</div>

{# footer #}
{% include "footer.twig" %}