body {
    height: 100vh;
    widows: 100vw;
display: flex;
text-align: center;
justify-content: space-around;
}

.partigauche {
    width: 50vw;
}

.userinfo {
    margin: 20px;
}

.roundimage {
    border-radius:10000px;
}

.carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tmm {
    height: 10vh ;
    width:20vw ;
    background-color: rgb(97, 97, 97);
}